<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>st</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/static.css">
  <script src="/js/static.js"></script>
</head>
<body>
  <div class="svg-container">
    <img src="/img/line.png" class="top-line png-line">
    <img src="/img/line.png" class="left-line png-line">
    <img src="/img/line.png" class="right-line png-line">
  </div>
  <style>
    .top-line {
      width:  <%= @top_line[:width] %>px;
      left:  <%= @top_line[:left] %>px;
      top:  <%= @top_line[:top] %>px;
    }
    .left-line {
      width:  <%= @left_line[:width] %>px;
      left:  <%= @left_line[:left] %>px;
      top:  <%= @left_line[:top] %>px;
    }
    .right-line {
      width:  <%= @right_line[:width] %>px;
      left:  <%= @right_line[:left] %>px;
      top:  <%= @right_line[:top] %>px;
    }
    .words-container {
      top:  104.5px;
    }
  </style>
  <div class="words-container">
    <div class="blurry" id="firstDiv">
        <span class="first">s</span>
        <span class="middle">trange</span>
        <span class="last">r</span>
    </div>
    <div class="blurry squeeze" id="secondDiv">
        <span class="between">things</span>
    </div>
  <div class="controls hide">
      <input id="first" type="text" value="<%= @top %>">
      <input id="second" type="text" value="<%= @bottom %>">
    <button id="blurbutton">Re-Animate</button>
  </div>
  </div>
</body>
</html>
